[DEFAULT]
ha_api_url = localhost:8123
controller_mac_address = AA:BB:CC:DD:EE:FF
logging_level = INFO

[phue-kitchen]
component = PhilipsHue
name = Kitchen
entity_id = light.kitchen_group

[phue-living-room]
component = PhilipsHue
name = Living room
entity_id = group.livingroom_group

[sonos-big-one]
component = Sonos
name = Sonos
entity_id = media_player.big_one
