include senic_hub/.coveragerc
recursive-include senic_hub/backend *
recursive-include senic_hub/nuimo_app *
global-exclude __pycache__ *.pyc .gitignore
include setup.*
graft *.egg-info
graft PKG-INFO
recursive-exclude senic_hub/frontend *
graft senic_hub/frontend/distribution
