/.eggs/
/.cache/
/*.egg-info/
/venv/
__pycache__
*.log
.Python
lib/
/.tox/
/build/
/dist/
/docs/htdocs/
/senic_hub/setup_app/android/app/setupapp-release-key.keystore
.idea
/senic_hub/setup_app/android/fastlane/report.xml
/senic_hub/setup_app/ios/SenicHubSetup.app.dSYM.zip
/senic_hub/setup_app/ios/SenicHubSetup.ipa
/senic_hub/setup_app/ios/fastlane/report.xml
