body {
  background-color: #242626;
}

* {
  font-family: 'Averta Regular';
  font-size: 14px;
  margin: 0px;
  color: white;
}

input {
  color: black;
}

@font-face {
  font-family: 'Averta Regular';
  src: url('fonts/AvertaStd-Regular.otf');
  font-weight: 300;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
